<div>ID: <%= @client.id %></div>
<div>Nome: <%= @client.name %></div>
<div>Documento: <%= @client.document %></div>
<div>Email: <%= @client.email %></div>
<div>Telefone: <%= @client.phone %></div>
<div>Data de Nascimento: <%= @client.birth_date %></div>
<div>Gênero: <%= @client.gender %></div>
<div>Número do passaporte: <%= @client.passport %></div>
<div>Nacionalidade: <%= @client.nationality %></div>
<div>Status: <%= @client.status %></div>

<%= link_to('Voltar', clients_path) %>
